<div class="container offset-header center">
<p id="notice"><%= notice %></p>
<div class="primary min-page-height">
  <div class="card_post_wrapper_login">
   <div class="card_post">
<%= simple_form_for(@post) do |f| %>

    <% if @post.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

        <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>


    <%= f.input :title, label: "Post Title" %>
    <%= f.input :body %>
    <%= f.input :featuretext, label: "Feature Text" %>
    <%= f.input :fonticon, label: "Font Icon" %>
    <%= f.input :postimageurl, label: "Post Image Url" %>
    <%= f.association :category, collection: @categories %>
    <%= f.input :private  %>
    <%= f.input :featured, label: "Featured" %>
    <%= f.input :publish, label: "Published" %>


    <%= f.submit %>


<% end %>
   </div>
  </div>
</div>
</div>
