<p id="notice"><%= notice %></p>
<!-- <section id="promo" class="promo section offset-header has-pattern"> -->
<div class="container offset-header">
  <div class="row">
    <div class="col-sm-8">

      <div class="blog-header">
        <h2 class="blog-title baseGreen">
          <span class="icon">
            <i class="fa fa-<%= @post.category.fonticon %>"></i>
          </span>
          <%= @post.category.name %>
        </h2>
        <!-- <p class="lead blog-description">The official example template of creating a blog with Bootstrap.</p> -->
      </div>

      <div class="primary">
        <div class="post card_post_wrapper">
          <div class="card_post">
            <div class="card_body">
              <h3 class="card_title"><%= @post.title %>
                <% unless @post.status == 0  %>
                  <span id="small"> (Private Post)</span>
                <% end -%>
              </h3>
              <p class="small"><%= @post.updated_at.strftime("%B %d, %Y") %></p>
              <span class="small">
                <% if session[:user_id] %>
                  <%= link_to ' Edit ', edit_post_path(@post)  %>
                  <%= link_to '| Delete', @post, :confirm => 'Are you sure?', :method => :delete %>
                <% end -%>
              </span>
              <hr>
         
              <%= markdown(@post.body) %>

              <br />
              <hr />
              <span class="small">
                <% if session[:user_id] %>
                  <%= link_to ' Edit ', edit_post_path(@post)  %>
                  <%= link_to '| Delete', @post, :confirm => 'Are you sure?', :method => :delete %>
                <% end -%>
              </span>
            </div>
          </div>
        </div>
        <!-- link_to "Previous Posts", archives_path %> -->
      </div> <!-- end primary div -->

    </div> <!-- end col-8 div -->

 
    <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
      <div class="secondary">
        <%= render "shared/categories" %>
      </div>
    </div>

  </div>  <!-- end row div -->
  
</div> <!-- end container div -->
<!-- </section> -->